TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_ID=
TELEGRAM_OWNER_USERNAME=pol4xer

META_APP_ID=
META_APP_SECRET=
META_PAGE_ID=
META_IG_USER_ID=
META_USER_ACCESS_TOKEN=
META_PAGE_ACCESS_TOKEN=
META_API_VERSION=v26.0

INSTAGRAM_USERNAME=
CHROME_PROFILE=Default

TIMEZONE=Europe/Istanbul
POST_TIMES=12:30,17:30,21:00
POST_ON_WEEKENDS=true
CAPTION_MODE=message_or_empty
SEND_MP4_AUTOMATICALLY=false
ALLOW_PRIVATE_SOURCES=false
DELETE_AFTER_PUBLISH=true
AUTO_TAGS=true
AUTO_TAG_COUNT=17
