TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_ID=
TELEGRAM_OWNER_USERNAME=pol4xer

META_APP_ID=
META_APP_SECRET=
META_PAGE_ID=
META_IG_USER_ID=
META_USER_ACCESS_TOKEN=
META_PAGE_ACCESS_TOKEN=
META_API_VERSION=v26.0
PUBLISH_FACEBOOK=false

THREADS_API_VERSION=v1.0
THREADS_USER_ID=
THREADS_ACCESS_TOKEN=
PUBLISH_THREADS=false

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REFRESH_TOKEN=
YOUTUBE_PRIVACY_STATUS=private
PUBLISH_YOUTUBE=false

INSTAGRAM_USERNAME=
CHROME_PROFILE=Default

TIMEZONE=Europe/Istanbul
POSTS_PER_DAY=5
POST_WINDOW_START=09:00
POST_WINDOW_END=21:00
POST_ON_WEEKENDS=true
CAPTION_MODE=message_or_empty
SEND_MP4_AUTOMATICALLY=false
ALLOW_PRIVATE_SOURCES=false
DELETE_AFTER_PUBLISH=true
AUTO_TAGS=true
AUTO_TAG_MIN=15
AUTO_TAG_MAX=20
